        <div class="ms-NavBar siteNavBar">
            <div class="ms-NavBar-openMenu js-openMenu"><i class="ms-Icon ms-Icon--menu"></i></div>
            <div class="ms-Overlay"></div>
			
            <ul class="ms-NavBar-items">
				{% for item in collections.page %}
					{% if item.locale == locale %}
                <li class="ms-NavBar-item"><a href="{{domain}}{{item.path}}" class="ms-NavBar-link">{{item.title}}</a></li>
					{% endif %}
				{% endfor %}
                <li class="ms-NavBar-item ms-NavBar-item--right"><a href="{{domain}}zh-hans/" class="ms-NavBar-link"> 简体中文</a></li>
                <li class="ms-NavBar-item ms-NavBar-item--right"><a href="{{domain}}/" class="ms-NavBar-link"> English</a></li>
				<li class="ms-NavBar-item ms-NavBar-item--right is-disabled"><a class="ms-NavBar-link"><i class="ms-Icon fa fa-language"></i> </li>
            </ul>
			
        </div>
