<div class="ProjectListItem">
    <div class="ProjectListItem-Image"><img src="{{ domain }}images/{% if item.image %}{{ item.image }}{% else %}foochow-idioms.png{% endif %}" /></div>
    <div class="ProjectListItem-Title ms-Font-xl">{{ item.title }}</div>
    <div class="ProjectListItem-Text ms-Font-m">{{ item.description }}
    </div>
    <div class="ProjectListItem-Buttons ms-Grid-row">
        <a href="{{domain}}{{ item.path }}" class="ms-Button ms-Grid-col ms-Button--command ms-u-sm12"> <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--plus"></i></span> <span class="ms-Button-label">{{ __("more") }}</span></a>
        {% if item.repo %}
        <a href="{{ item.repo }}" class="ms-Button ms-Grid-col ms-Button--command ms-u-sm12"> <span class="ms-Button-icon"><i class="fa fa-github" aria-hidden="true"></i></span> <span class="ms-Button-label">{{ __("viewongithub") }}</span>            </a>
        {% endif %}
    </div>
</div>