        <div class="ms-NavBar siteNavBar">
            <div class="ms-NavBar-openMenu js-openMenu"><i class="ms-Icon ms-Icon--menu"></i></div>
            <div class="ms-Overlay"></div>
			
            <ul class="ms-NavBar-items">
				{{ if ne (len .Site.Menus.main) 0 }}
				{{ range .Site.Menus.main }}
                <li class="ms-NavBar-item"><a href="{{ .URL }}" class="ms-NavBar-link">{{ .Pre }} {{ .Name }}</a></li>
				{{ end }}
				{{ end }}
                <li class="ms-NavBar-item ms-NavBar-item--right"><a class="ms-NavBar-link"><i class="ms-Icon fa fa-language"></i> EN</a></li>
                <li class="ms-NavBar-item ms-NavBar-item--right"><a class="ms-NavBar-link"><i class="ms-Icon fa fa-language"></i> CN</a></li>
            </ul>
			
        </div>
		
		  

    
      

    

  