

<div class="ProjectListItem">
              <div class="ProjectListItem-Image"><img src="{{ $.Site.BaseURL }}images/{{ with .Params.image }}{{ . }}{{ else }}foochow-idioms.png{{ end }}" /></div>
              <div class="ProjectListItem-Title ms-Font-xl">{{ .Title }}</div>
              <div class="ProjectListItem-Text ms-Font-m">{{ .Summary }}
              </div>
              <div class="ProjectListItem-Buttons ms-Grid-row">
                <a href="{{ .Permalink }}" class="ms-Button ms-Grid-col ms-Button--command ms-u-sm12"> <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--plus"></i></span> <span class="ms-Button-label">More</span>                  </a>
                <a class="ms-Button ms-Grid-col ms-Button--command ms-u-sm12"> <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--menu"></i></span> <span class="ms-Button-label">View on Github</span>                  </a>
              </div>
            </div>
