        <div class="ms-NavBar siteNavBar">
            <div class="ms-NavBar-openMenu js-openMenu"><i class="ms-Icon ms-Icon--menu"></i></div>
            <div class="ms-Overlay"></div>
            <ul class="ms-NavBar-items">
                <li class="ms-NavBar-item"><a class="ms-NavBar-link">Home</a></li>
                <li class="ms-NavBar-item"><a href="page.html" class="ms-NavBar-link">Project</a></li>
                <li class="ms-NavBar-item"><a class="ms-NavBar-link">Contact</a></li>
                <li class="ms-NavBar-item"><a class="ms-NavBar-link">About</a></li>
                <li class="ms-NavBar-item ms-NavBar-item--right"><a class="ms-NavBar-link"><i class="ms-Icon ms-Icon--upload"></i> EN</a></li>
                <li class="ms-NavBar-item ms-NavBar-item--right"><a class="ms-NavBar-link"><i class="ms-Icon ms-Icon--upload"></i> CN</a></li>
            </ul>
        </div>