<html>

<head>
  {{ partial "default_head.html" . }}
</head>

<body>


  {{ partial "header.html" . }}

  <div class="PageContainer">
    {{ partial "navigation.html" . }}
    <div class="ms-Grid">
      <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm12 ms-u-md-12 ms-u-lg8">
          <div class="Carousel">asbs</div>
        </div>
        <div class="ms-Grid-col ms-u-sm12 ms-u-md-12 ms-u-lg4">
          <div class="JoinChat">
            <div class="ms-font-xl">Join Chat</div><button class="ms-Button ms-Button--primary"> <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--plus"></i></span> <span class="ms-Button-label">Create account</span> <span class="ms-Button-description">Description of the action this button takes</span> </button></div>
        </div>

      </div>
      <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm12">
          <h1 class="ms-Font-xxl">Projects</h1></div>
      </div>
      <div class="ms-Grid-row">
        <div class="ProjectList">
          {{ range $key, $value := .Paginator.Pages }}
          <div class="ms-Grid-col ms-u-sm12 ms-u-md6 ms-u-lg4">

            {{ .Render "li" }}
          </div>
          {{ end }}

          <div class="ms-Grid-col ms-u-sm12 ms-u-md6 ms-u-lg4">
            <div class="ProjectListItem">
              <div class="ProjectListItem-Title ms-Font-xl">Foochow Idioms</div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  {{ partial "footer.html" . }} {{ partial "default_postscript.html" . }}

</body>

</html>